
body{
    background-color: midnightblue!important;
}
#topnav {
    overflow: hidden;

    background-color:#e7e7e7;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:75px;
}
.header-container{
    width:100%;
    height:100%;
}
.left-header{
    height:75px;
    color: #f2f2f2;
    width:30%;
    vertical-align:middle;
    float:left;
    padding-left:12px;
    padding-right:12px;
}
#right-header{
    width:70%;
    vertical-align:middle;
    height:75px;
    text-align:right;
    float:right;
    padding-left: 12px;
    padding-right:12px;
}
.logo-content{
    vertical-align: middle;
    height:50px !important;
    width:150px !important;
}

.about{
    vertical-align: middle;
    font-size:x-large;
}

.link{
    padding-left:15px;
}

#topnav a:hover {
    color: black;
    
}
  
.my-first-div{
    margin-top: 60px;
    border: 1px solid red;
    color: black;
}

.div-separator{
    border: 1px solid blue;
    margin:1px;
    height:200px;
}
#wel{
    padding:10px;
}
.container-fluid{
    height:600px;
    border-color: blue;
    margin-top:120px;
}
.wrapper{
    height:600px;
    border-color: blue;
    margin-top:170px;
    color:mintcream;
    margin-left:20px;
}

.login {
      background-color:lightskyblue;
      border-radius:5px;
      width:30%;
      margin:100px;
      align-content: center;
      margin-left:60%;
      top:50%;
      
}
.input-group{
    padding-bottom:30px;
}
#footer{
    background-color:#31708f;
    color:white;
    height:55px;
    bottom:0;
    position:absolute;
    clear:both;
    width:100%;
    text-align:center;
}

.para{
    margin-top: calc(27.5px - 0.5em);
    height: auto;
}

input[type=text]:focus(){
    border-color:dodgerblue;
    box-shadow:0 0 8px dodgerblue;
}

@media (max-width: 768px) {
    .about{
        position: relative;
        top: 15px;
    }
 }

